// ---
// Contains only the Bootstrap variables that have been overridden in this theme.
// ---

// -- settings
$enable-rounded: false;
$enable-shadows: true;

// -- Bootstrap overrides
$spacer: .9rem;

// Default colors
$white: #fff;
$gray-200: $brand-offwhite;

$body-bg: $gray-200;
$component-active-color: $white !default;
$component-active-bg: $fe-blue !default;

$theme-colors: (
        'dark': $fe-blue,
        'primary': $brand-primary,
        'danger': $brand-danger,
        'success': $brand-success,
        'info': $brand-info,
        'warning': $brand-warning
);

$font-family-sans-serif: "Oxygen", sans-serif !default;
$font-family-monospace: Monaco !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: .875rem !default;

// Navbar
$navbar-brand-font-size: .875rem;

$navbar-dark-color: $white !default;
$navbar-dark-hover-color: rgba($white, .75) !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($white, .40) !default;

// Breadcrumb
$breadcrumb-bg: darken($body-bg, 2%) !default;
$breadcrumb-padding-y: .5rem !default;
$breadcrumb-padding-x: 1rem !default;

// Alerts
$alert-border-level: 0;
$alert-color-level: 6;

// Dropdown
$dropdown-link-hover-color: $component-active-color !default;
$dropdown-link-hover-bg: rgba($component-active-bg, .75) !default;

$dropdown-link-active-color: $component-active-color !default;
$dropdown-link-active-bg: $component-active-bg !default;

@import 'node_modules/bootstrap/scss/bootstrap';