// -- Across defaults
$logo: '../images/across-logo.svg' !default;
$logo-white: '../images/across-logo.svg' !default;

// Main colors
$fe-blue: #002c41 !default;
$fe-yellow: #ffce01 !default;

// Grays
$gray-darker: #222223 !default;
$gray-dark: #333 !default;
$gray: #555 !default;
$gray-light: #999 !default;
$gray-lighter: #eee !default;

// Brand Colors
$brand-primary: lighten($fe-blue, 20%) !default;

$brand-success: #27a327 !default;
$brand-warning: #ff9203 !default;
$brand-danger: #dd000c !default;
$brand-info: #42abdc !default;
$brand-offwhite: #f4f4f4 !default;

// Typography
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);