@charset "UTF-8";

* {
  -webkit-font-smoothing: antialiased;
}

// -- Nav
// title that is only shown when collapsed
.nav-item-title {
  display: none;
}

.collapse.show {
  .nav-item-title {
    display: inline-block;
  }
}

// -- Navbar
.navbar-brand {
  background: url($logo-white) no-repeat left center;
  font-weight: $font-weight-bold;
  padding-left: 43px;
  text-transform: uppercase;

  &::before {
    content: '\00a0';
  }
}

$navbar-color: $fe-blue;

.navbar-dark.fixed-top,
.navbar-dark.fixed-bottom {
  //background: $fe-blue;
  padding-bottom: 0;
  padding-top: 0;

  .nav-item {
    padding-bottom: $navbar-padding-y;
    padding-top: $navbar-padding-y;

    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;

    &:hover,
    &:active,
    &:focus {
      background: lighten($navbar-color, 5%);

      -moz-transition: background 500ms;
      -o-transition: background 500ms;
      -webkit-transition: background 500ms;
      transition: background 500ms;

    }
    &[aria-expanded="true"] {
      background: lighten($navbar-color, 5%);
    }
  }
}

// -- Alerts
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    background-color: $white;
  }
}

// -- Dropdown
.dropdown-divider {
  border-color: $gray-300;
  margin: .4rem 0 .1rem;
}

.dropdown-header {
  padding-bottom: .3rem;
}

.content.for-navbar-fixed-top {
  padding-top: 4.5rem;
}